.section {
  position: relative;
  background: var(--color-dark-secondary);
  padding: 156px 50px 40px;
  color: var(--color-secondary);
  text-align: center;
  overflow: hidden;
}

/* ───────── линия ───────── */
.hLine {
  position: absolute;
  top: 153px;
  left: 50px;
  width: calc(100% - 100px);
  height: 1px;
  background: rgba(58, 58, 58, 1);
}

.hLine::before,
.hLine::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #ffffff;
  top: -3px;
}

.hLine::before {
  left: -3px;
}

.hLine::after {
  right: -3px;
}

/* ───────── слово SYNDICATE ───────── */
.wordmark {
  margin-bottom: 2px;
  font-family: var(--font-stencil);
  font-size: 458px;
  line-height: 98%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #ffffff;
  overflow-wrap: anywhere;
}

/* ───────── нижняя строка ───────── */
.metaRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-inter);
  font-size: 18px;
  text-transform: uppercase;
  opacity: 0.7;
  letter-spacing: -0.03em;
}

.meta {
  white-space: nowrap;
}

/* ссылка */
.privacy {
  color: var(--color-secondary);
  text-decoration: underline;
  white-space: nowrap;
  margin-left: 138px;
}

.privacy:hover {
  color: var(--color-primary);
}

@media (max-width: 1280px) {
  .section {
    padding-top: 137px;
    padding-bottom: 100px;
  }

  .hLine {
    top: 104px;
    left: 53px;
    width: calc(100% - 128px);
  }
  .wordmark {
    font-size: 297px;
  }

  .metaRow {
    gap: 10px;
    font-size: 14px;
    letter-spacing: -0.03em;
  }

  .meta {
    text-align: center;
  }

  .privacy {
    font-size: 14px;
    margin-left: 104px;
  }
}
