.wrapper {
  display: flex;
  width: 100vw;
  height: 148px; /* по макету */
  overflow: hidden;
  background: #ffffff; /* белый фон, как в Figma */
  position: relative;
}

.track {
  display: flex;
  align-items: center;

  gap: 120px; /* расстояние между повторениями */
  white-space: nowrap;

  /* бесконечная прокрутка */
  animation: marquee 80s linear infinite;
}

.item {
  display: flex;
  align-items: center;
  gap: 40px; /* иконка ↔ текст */
}

.text {
  font-family: var(--font-anton);
  font-size: 80px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* половина, т.к. дублируем строку */
}

@media (max-width: 1280px) {
  .wrapper {
    height: 115px;
  }
  .text {
    font-size: 60px;
  }

  .track svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 744px) {
  .wrapper {
    height: 100px;
  }

  .text {
    font-size: 40px;
  }

  .item {
    gap: 24px;
  }

  .track {
    gap: 24px;
  }

  .track svg {
    width: 62px;
    height: 62px;
  }
}
